@charset "UTF-8";
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

#nav {
  margin-right: 40px;
}

#textcomp {
  font-family: "mandalitos";
  margin-top: 15px;
}

#textcomp2 {
  margin-top: 50px;
  font-family: "mandalitos";
}

#wapp {
  width: 32px;
  height: 32px;
}

#medPag {
  width: 290px;
  height: 120px;
}

#transition {
  width: 500px;
  height: 200px;
  background-color: transparent;
  margin-top: 50px;
}

#transition:hover {
  padding: 20px;
  -webkit-transform: rotateX(360deg);
          transform: rotateX(360deg);
}

#imgTamaño {
  width: 100%;
  height: 50%;
}

.bton {
  width: 200px;
  height: 50px;
  margin-left: 50px;
  background-color: aquamarine;
}

.bton1 {
  width: 200px;
  height: 180px;
  margin-left: 200px;
  margin-top: 70px;
}

.bton2 {
  width: 50px;
  height: 30px;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 3px;
}

.card {
  width: 65%;
  margin: 90px;
  padding: 10px;
  border-radius: 30px;
  border-color: rgb(201, 51, 176);
  background-color: transparent;
  -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.card:hover {
  -webkit-box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
          box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.4);
}

.card-text {
  font-size: small;
}

header {
  height: 50%;
  width: 100%;
  background-color: #f3b7b9;
}

main {
  height: 70%;
  width: 100%;
  background-color: transparent;
}
main fieldset {
  text-align: center;
  margin-top: 35px;
}
main label {
  font-family: "mandalitos";
  color: lightcoral;
}
main legend {
  font-family: "mandalitos";
  font-size: 20px;
  text-decoration: underline;
  color: lightcoral;
}
main p {
  font-family: "mandalitos";
}
main h1 {
  text-align: center;
  font-family: "mandalitos";
  font-size: 30px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: lightcoral;
}
main h5 {
  font-family: "mandalitos";
  font-size: x-large;
}

footer {
  height: 40%;
  width: 100%;
  background-color: #f3b7b9;
}
footer div div div div ul {
  list-style: none;
  margin-top: 20px;
}
footer div div div div ul a {
  text-decoration: none;
  color: fuchsia;
}
footer .fs-3 {
  font-family: "mandalitos";
}

@font-face {
  font-family: "mandalitos";
  src: url(../font/fontastique.ttf);
}